body{
    background-color:purple;
}
h1{
    color: white;
    font-family: "Robobto",sans-serif;
}
h2{
    color: white;
    font-family: "Roboto",sans-serif;
}
video{
    width:800px;
    margin-bottom: 250px;
    margin-left:250px;
    border-radius: 50px;
    
}