body{
    background-color:purple;
}
button{
    color:white;
    background-color:purple;
}
h1{
    color:white;
}
h2{
    color:white ;
}
ul{
    color:white;
}
a{
color:white;
}
.elolo{
    margin-left: 350px;
}
